<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>SCADA COOPREL</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/jquery.qtip.css/" >
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>

<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js" ></script>
<script type="text/javascript" src="/javascripts/jquery.qtip.js"></script>
<script type="text/javascript" src="/javascripts/imagesloaded.pkg.min.js"></script>

<div class="container">
<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span>Mapa de Lineas</h1>
    <a href="/logout" class="btn btn-default btn-sm">Cerrar Sesion</a>
</div>
    <img src="/images/CAD.svg" >

</div>
</body>
</html>
